@model IEnumerable<Employee>

@functions {
    public string FormatDate(DateTime? date)
    {
        return date?.ToString("dd-MM-yyyy");
    }
}

<br />

<h2>Працівники</h2>
<hr />
<br />

<form method="get" action="@Url.Action("FilterEmployees")">
    <div class="form-group">
        <input type="text" name="searchTerm" class="form-control" placeholder="Фільтрування за ПІБ / Відділом / Посадою ...">
    </div>
    <div class="form-group">
        <select name="sortBy" class="form-control">
            <option value="EmployeeFullName">сортування за ПІБ</option>
            <option value="Birthday">сортування за датою народження</option>
            <option value="EmploymentDate">сортування за датою взяття на роботу</option>
            <option value="Salary">сортування за окладом</option>
            <option value="DepartmentId">сортування за відділом</option>
            <option value="PositionId">сортування за посадою</option>
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Пошук</button>
</form>

<hr />

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmploymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionId)
        </th>
    </tr>

    @foreach (var employee in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => employee.EmployeeFullName)
            </td>
            <td>
                @FormatDate(employee.Birthday)
            </td>
            <td>
                @FormatDate(employee.EmploymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => employee.Salary)
            </td>
            <td>
                @ViewBag.Departments[employee.DepartmentId]
            </td>
            <td>
                @ViewBag.Positions[employee.PositionId]
            </td>
            <td>
                <a asp-action="EditEmployee" asp-route-Id="@employee.EmployeeID"><i class="btn btn-outline-secondary">Редагувати</i></a>
                <a asp-action="DeleteEmployee" asp-route-Id="@employee.EmployeeID"><i class="btn btn-outline-danger">Видалити</i></a>
            </td>
        </tr>
    }
</table>

<br />
<p>
    <a asp-action="AddEmployee" asp-controller="Employee" class="btn btn-outline-success">Додати працівника</a>
</p>